// Specific CSS for your home-page
body {
  background-color: white;
}

a {
  text-decoration: none;
}

a:hover, i:hover {
  opacity: 0.7;
}

.btn-primary:hover {
  opacity: 0.7;
}

.new-post-navbar strong:hover {
  opacity: 0.7;
}

.display-none {
  display: none;
}

.box {
  margin: 20px;
    i {
      font-size: 16px;
      color: black;
      margin-right: 20px;
      cursor: pointer;
    }
}

#post-date {
  font-size: 12px;
}

// sortablejs options - move_post_controller.js
.ghost {
  opacity: .5;
  background: #C8EBFB;
}

.field-search {
  margin-right: 5px;
}

.btn-search {
  width: 150px;
}

.posts-card {
  box-shadow: 3px 3px 9px 0px #21211d69;
  margin-bottom: 15px;
}


.comment-box {
  .comment-date {
    font-size: 12px;
    margin: 0px;
  }

  .comment-user {
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
  }

  .comment-content {
    margin: 5px 0px 25px 0px;
  }


}
