<div class="banner">
  <div class="gradient-mask">
    <div class="container">
      <h1>Learning Rails - A test site</h1>
      <p>Putting everything together for learning purposes.</p>
    </div>
  </div>
</div>
