<div class="banner" style="background-image: url(https://source.unsplash.com/random/1200x500);">
  <div class="container">
    <h1>Learning Rails - A test site</h1>
    <p>Putting everything together for learning purposes.</p>
    <%# <a class="btn btn-primary btn-flat" href="#">Apply now</a> %>
  </div>
</div>

<div class="mt-2 mb-2 d-flex border border-2 border-warning flex-column">
  <div class="d-flex flex-row">
    <div class="border border-primary" id="box">
      <h3>Title - h3</h3>
      <h5>Subtitle - h5</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cumque earum voluptas excepturi nemo, aliquid temporibus accusantium ad repellat, dolorem dolore quia dicta porro! Ipsam, sunt. Et autem recusandae harum!</p>
    </div>
    <div class="border border-primary" id="box">
      <h3>Title - h3</h3>
      <h5>Subtitle - h5</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cumque earum voluptas excepturi nemo, aliquid temporibus accusantium ad repellat, dolorem dolore quia dicta porro! Ipsam, sunt. Et autem recusandae harum!</p>
    </div>
    <div class="border border-primary" id="box">
      <h3>Title - h3</h3>
      <h5>Subtitle - h5</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cumque earum voluptas excepturi nemo, aliquid temporibus accusantium ad repellat, dolorem dolore quia dicta porro! Ipsam, sunt. Et autem recusandae harum!</p>
    </div>
  </div>

  <div class="d-flex flex-row">
    <div class="border border-primary" id="box">
      <h3>Title - h3</h3>
      <h5>Subtitle - h5</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cumque earum voluptas excepturi nemo, aliquid temporibus accusantium ad repellat, dolorem dolore quia dicta porro! Ipsam, sunt. Et autem recusandae harum!</p>
    </div>
    <div class="border border-primary" id="box">
      <h3>Title - h3</h3>
      <h5>Subtitle - h5</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cumque earum voluptas excepturi nemo, aliquid temporibus accusantium ad repellat, dolorem dolore quia dicta porro! Ipsam, sunt. Et autem recusandae harum!</p>
    </div>
    <div class="border border-primary" id="box">
      <h3>Title - h3</h3>
      <h5>Subtitle - h5</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cumque earum voluptas excepturi nemo, aliquid temporibus accusantium ad repellat, dolorem dolore quia dicta porro! Ipsam, sunt. Et autem recusandae harum!</p>
    </div>
  </div>

</div>
