<div class="banner" style="background-image: url(https://source.unsplash.com/random/1200x500);">
  <div class="container">
    <h1>Learning Rails - A test site</h1>
    <p>Putting everything together for learning purposes.</p>
    <%# <a class="btn btn-primary btn-flat" href="#">Apply now</a> %>
  </div>
</div>

<div class="mt-2 mb-2 d-flex flex-column">
  <% @posts.each do |post| %>
    <div class="d-flex flex-row">
      <div class="" id="box">
        <h3><%= post.title %></h3>
        <h5><%= post.subtitle %></h5>
        <p><%= post.content %></p>
        <%= link_to "Delete post",
          post_path(post),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
          %>
      </div>
    </div>
  <% end %>
</div>
