.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

i {
  font-size: 1.75rem;
}

#dropdown {
  margin-left: 1.75rem;
}

// #container-navbar {
//   margin: 0px 2rem 0px 2rem;
// }
